@import 'tailwindcss';

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Montserrat", sans-serif;
  --color-primary: #C5A059;
  --color-gold: #D4AF37;
}

@layer base {
  html,
  body {
    @apply font-sans text-stone-200 bg-stone-950;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }

  .using-mouse * {
    outline: none !important;
  }
}
